body {
    text-align: center;
    background-color: #FBF1F1;
}

h1 {
    margin-top: 180px;
    font-size: 50px;
    color: #F78C30;
}

i {
    color: #F78C30;
    font-size: 50px;
    margin-top: 30px;
}