p {font-size: 22px;}
#p2 {margin: 10px 0;}

body {
    text-align: center;
    background-color: #FBF1F1;
    color: #F78C30;
}

h1 {
    font-size: 60px;
    margin: 30px 0;
}

i {
    color: #F78C30;
    font-size: 50px;
    margin-top: 180px;
}