body {
    background-color: #FBF1F1;
    color: #F78C30;
    text-align: center;
}

a {
    color: #F78C30;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 25px;
    font-weight: bold;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

h1 {
    margin-top: 180px;
    font-size: 45px;
}

h2 {
    margin: 40px 0;
}